<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кухни Томск</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img width="100px" height="100px" src="{{ url_for('static', path='/image/32048_modern kitchen logo _my kicthen_ _xl-1024-v1-0.png') }}">
        </div>
    </header>

    <main class="main" style="background-image: url('{{ url_for('static', path='/image/pexels-falling4utah-2724748.jpg') }}');">
        <div class="content">
            <h1>Изготовим кухни под ваши размеры ⛏</h1><br><br>
            <p>
                Мы предлагаем вам возможность создать кухню своей мечты,
                обеспечивая высочайшее качество и оперативное выполнение заказа.<br>
                Наша компания специализируется на изготовлении кухонь, которые сочетают в себе стиль,
                функциональность и долговечность.

            </p><br>
            <h2>Высоское качество 📈</h2><br>
            <p>
                Мы используем только проверенные и качественные материалы,
                что гарантирует долговечность и надежность вашей кухни.<br>
                Современное оборудование и опыт наших мастеров обеспечивают идеальное исполнение каждого элемента.
            </p><br>
            <h2>Индивидуальный подход 🚹</h2><br>
            <p>
                Каждый проект разрабатывается с учетом ваших пожеланий и особенностей помещения.
                Мы предлагаем широкий выбор дизайнов
            </p><br><br>
            <button class="cta-button"><a href="https://custom-kitchens-tomsk.ru/form">Записаться на консультацию</a></button>
        </div>
    </main>

</body>
</html>
